<!-- Facts Section -->
<section id="facts" class="facts-section text-center" data-stellar-vertical-offset="50" data-stellar-background-ratio="0.2">
  <div class="tt-overlay-bg">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="count-wrap">
            <div class="col-sm-4 col-xs-4">
              <i class="fas fa-flask"></i>
              <h3 class="timer">8</h3>
              <p>Years of Experience</p>
            </div>
            <div class="col-sm-4 col-xs-4">
              <i class="fab fa-angular"></i>
              <h3 class="timer">5</h3>
              <p>AngularJS Project</p>
            </div>
            <div class="col-sm-4 col-xs-4">
              <i class="fab fa-java"></i>
              <h3 class="timer">3</h3>
              <p>Java Projects</p>
            </div>
          </div>
          <!-- /count-wrap -->
        </div>
        <!-- /.col-md-12 -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container -->
  </div>
</section>
<!-- End Facts Section -->
