<!-- Home Section -->
<section id="home" class="tt-fullHeight" data-stellar-vertical-offset="50" data-stellar-background-ratio="0.2">
  <div class="intro">
    <div class="intro-sub">Hi, I am Phoenie Tam</div>
    <h1>Senior <span>Application</span> Developer</h1>
    <p>Know more about me:<br> </p>

    <div class="social-icons">
      <ul class="list-inline">
        <li><a href="https://www.linkedin.com/in/{{ site.linkedin_username }}"><i class="fab fa-linkedin"></i></a></li>
        <li><a href="mailto:{{ site.email }}"><i class="fas fa-envelope"></i></a></li>
      </ul>
    </div>
    <!-- /.social-icons -->
  </div>

</section>
<!-- End Home Section -->
