<!-- Resume Section -->
<section id="resume" class="resume-section section-padding">
  <div class="container">
    <h2 class="section-title wow fadeInUp">Resume</h2>
    <div class="row">
      <div class="col-md-12">
        <div class="resume-title">
          <h3>Experience</h3>
        </div>
        <div class="resume">
          <ul class="timeline">
            <li>
              <div class="posted-date">
                <span class="month">2015 July - Current</span>
              </div>
              <!-- /posted-date -->
              <div class="timeline-panel wow fadeInUp">
                <div class="timeline-content">
                  <div class="timeline-heading">
                    <h3>Senior Application Developer</h3>
                    <span>Aviva Singapore</span>
                    <span class="specialization">Specialization: Full stack, design and develop in-house and enterprise application, insurance industry.</span>
                  </div>
                  <!-- /timeline-heading -->

                  <div class="timeline-body">
                    <span>Responsibility: </span>
                    <ul class="resumelist">
                      <li>Develop travel insurance quoting web application.</li>
                      <li>Develop sales quotation application for Aviva Singapore's distributor.</li>
                      <li>Develop, support and deploy web-based data management that allow client and advisor to access to their life, protection and bonds plan, and coupled with registration and admin module, and support multiple country region. </li>
                      <li>Support and maintain in house web based job monitoring system and dashboard that allow team to monitor their batch job status in order to meet service level.</li>
                    </ul>
                    <br>
                    <span>Experiences Gained: </span>
                    <ul class="resumelist">
                      <li>AngularJS, HTML5, CSS.</li>
                      <li>Spring RESTful framework with Hibernate.</li>
                    </ul>
                  </div>
                  <!-- /timeline-body -->
                </div>
                <!-- /timeline-content -->
              </div>
              <!-- /timeline-panel -->
            </li>

            <li class="timeline-inverted">
              <div class="posted-date">
                <span class="month">2011 May - 2015 May </span>
              </div>
              <!-- /posted-date -->
              <div class="timeline-panel wow fadeInUp">
                <div class="timeline-content">
                  <div class="timeline-heading">
                    <h3>Software Engineer</h3>
                    <span>Intel Malaysia</span>
                    <span class="specialization">Specialization: Enterprise software design and development for semiconductor design and manufacturing.</span>
                  </div>
                  <!-- /timeline-heading -->

                  <div class="timeline-body">
                    <span>Responsibility: </span>
                    <ul class="resumelist">
                      <li>Design, develop and deploy web-based data management system for Intel design center project collaboration and issues tracking.</li>
                      <li>Developed direct material consumption analysis and wastage reporting solutions for Intel assembly test manufacturing facilities worldwide.</li>
                    </ul>
                    <br>
                    <span>Experiences Gained: </span>
                    <ul class="resumelist">
                      <li>Java web application development using Smart GWT framework, familiar with rich sets of UI components, JSON and server side integration.</li>
                      <li>Data integration and ETL using SQL Server Integration Services (SSIS) which involve complex logic in SQL procedure for waste analysis, SQL program development, job scheduling and report generation using SQL Server Reporting services (SSRS).</li>
                      <li>Worked closely with global project team across different geo location and support worldwide deployment.</li>
                    </ul>
                  </div>
                  <!-- /timeline-body -->
                </div>
                <!-- /timeline-content -->
              </div>
              <!-- /timeline-panel -->
            </li>

            <li>
              <div class="posted-date">
                <span class="month">2008 Jun - 2009 Sep</span>
              </div>
              <!-- /posted-date -->
              <div class="timeline-panel wow fadeInUp">
                <div class="timeline-content">
                  <div class="timeline-heading">
                    <h3>Software Engineer</h3>
                    <span>Renesas Malaysia</span>
                  </div>
                  <!-- /timeline-heading -->

                  <div class="timeline-body">
                    <span>Responsibility: </span>
                    <ul class="resumelist">
                      <li>Design and develop web document repository system for daily document e-filing, migrated old client-based VB6 Data Information Management System to web application.</li>
                    </ul>
                    <br>
                    <span>Experiences Gained: </span>
                    <ul class="resumelist">
                      <li>ASP.net web application using VB.net and Oracle database.</li>
                      <li>Online integration with scanner and printer using TWAIN API.</li>
                    </ul>
                  </div>
                  <!-- /timeline-body -->
                </div>
                <!-- /timeline-content -->
              </div>
              <!-- /timeline-panel -->
            </li>

            <li class="timeline-inverted">
              <div class="posted-date">
                <span class="month">2008 Jun - 2009 Sep</span>
              </div>
              <!-- /posted-date -->
              <div class="timeline-panel wow fadeInUp">
                <div class="timeline-content">
                  <div class="timeline-heading">
                    <h3>Intern</h3>
                    <span>Renesas Malaysia</span>
                  </div>
                  <!-- /timeline-heading -->

                  <div class="timeline-body">
                    <span>Responsibility: </span>
                    <ul class="resumelist">
                      <li>Completed 3 feature enhancements: Operator Training & Follow-Up Management, Automatic continuous Engineering Defect Abnormal Triggering, and Engineering Sampling Control System to Auto Lock Production Lots upon Abnormality Defection.</li>

                    </ul>
                    <br>
                    <span>Experiences Gained: </span>
                    <ul class="resumelist">
                      <li>System enhancement for the production line tracking using VB.net.</li>
                    </ul>
                  </div>
                  <!-- /timeline-body -->
                </div>
                <!-- /timeline-content -->
              </div>
              <!-- /timeline-panel -->
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- /row -->
    <div class="row">
      <div class="col-md-12">
        <div class="resume-title">
          <h3>Education</h3>
        </div>
        <div class="resume">
          <ul class="timeline">
            <li>
              <div class="posted-date">
                <span class="month">2009-2011</span>
              </div>
              <!-- /posted-date -->

              <div class="timeline-panel wow fadeInUp">
                <div class="timeline-content">
                  <div class="timeline-heading">
                    <h3>MSC INFORMATION SYSTEM MANAGEMENT</h3>
                    <span>De Montfort University, UK</span>
                  </div>
                  <!-- /timeline-heading -->

                  <div class="timeline-body">
                    <p>Major: Information Systems Management</p>
                    <p>Grade: Passed</p>
                    <p>Project: Garden Design, client based .NET application which was developed to allow non-professional home users to design their dream garden and also includes the planting scheme to help user choose the suitable companion plants. Microsoft Access as the database platform to store the data and XML file to store the saved project.</p>
                  </div>
                  <!-- /timeline-body -->
                </div>
                <!-- /timeline-content -->
              </div>
              <!-- /timeline-panel -->
            </li>

            <li class="timeline-inverted">
              <div class="posted-date">
                <span class="month">2005-2008</span>
              </div>
              <!-- /posted-date -->

              <div class="timeline-panel wow fadeInUp">
                <div class="timeline-content">
                  <div class="timeline-heading">
                    <h3>BSC COMPUTER SCIENCE (Hons)</h3>
                    <span>University Science of Malaysia</span>
                  </div>
                  <!-- /timeline-heading -->

                  <div class="timeline-body">
                    <p>Major: Software Engineer</p>
                    <p>Minor: Management</p>
                    <p>Grade: CGPA = 3.13/4.00</p>
                    <p>Project: Patient Bedside Management System, a web-based application build on the .Net platform using VB.Net language which provides the patient to browse through his/her diagnosis from time to time, schedule time management, connect to friends and family, and view and update their personal details. MS SQL Server is used as the database.</p>
                  </div>
                  <!-- /timeline-body -->
                </div>
                <!-- /timeline-content -->
              </div>
              <!-- /timeline-panel -->
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- /row -->
  </div>
  <!-- /.container -->
</section>
<!-- End Resume Section -->
