<!-- Skills Section -->
<section id="skills" class="skills-section section-padding">
  <div class="container">
    <h2 class="section-title wow fadeInUp">Skills</h2>

    <div class="row">
      <div class="col-md-6">
        <div class="skill-progress">
          <div class="skill-title">
            <h3>AngularJS</h3></div>
          <div class="progress">
            <div class="progress-bar six-sec-ease-in-out" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"><span>80%</span>
            </div>
          </div>
          <!-- /.progress -->
        </div>
        <!-- /.skill-progress -->

        <div class="skill-progress">
          <div class="skill-title">
            <h3>HTML5, CSS, Javascript</h3></div>
          <div class="progress">
            <div class="progress-bar six-sec-ease-in-out" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"><span>80%</span>
            </div>
          </div>
          <!-- /.progress -->
        </div>
        <!-- /.skill-progress -->
        <div class="skill-progress">
          <div class="skill-title">
            <h3>Java</h3></div>
          <div class="progress">
            <div class="progress-bar six-sec-ease-in-out" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"><span>70%</span>
            </div>
          </div>
          <!-- /.progress -->
        </div>
        <!-- /.skill-progress -->
      </div>
      <!-- /.col-md-6 -->

      <div class="col-md-6">
        <div class="skill-progress">
          <div class="skill-title">
            <h3>Oracle/ SQL Server</h3></div>
          <div class="progress">
            <div class="progress-bar six-sec-ease-in-out" role="progressbar" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100"><span>65%</span>
            </div>
          </div>
          <!-- /.progress -->
        </div>
        <!-- /.skill-progress -->
        <div class="skill-progress">
          <div class="skill-title">
            <h3>C#</h3></div>
          <div class="progress">
            <div class="progress-bar six-sec-ease-in-out" role="progressbar" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100"><span>65%</span>
            </div>
          </div>
          <!-- /.progress -->
        </div>
        <!-- /.skill-progress -->
      </div>
      <!-- /.col-md-6 -->
    </div>
    <!-- /.row -->

    <div class="skill-chart text-center">
      <h3>Personal skills</h3>
    </div>

    <div class="row more-skill text-center">
      <div class="col-xs-12 col-sm-3 col-md-3">
        <div class="chart" data-percent="90" data-color="e74c3c">
          <span class="percent"></span>
          <div class="chart-text">
            <span>Team player</span>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-3 col-md-3">
        <div class="chart" data-percent="80" data-color="2ecc71">
          <span class="percent"></span>
          <div class="chart-text">
            <span>Creativity</span>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-3 col-md-3">
        <div class="chart" data-percent="80" data-color="3498db">
          <span class="percent"></span>
          <div class="chart-text">
            <span>Communication</span>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-3 col-md-3">
        <div class="chart" data-percent="80" data-color="3498db">
          <span class="percent"></span>
          <div class="chart-text">
            <span>Self-organization</span>
          </div>
        </div>
      </div>
    </div>

  </div>
  <!-- /.container -->
</section>
<!-- End Skills Section -->
